extends ../layout

block content
  a(href='/bicicletas') Volver
  br
  br
  br

  h1 Registra nueva bicicleta

  br
  br

  form(action='/bicicletas/create' method='post')
    label(for='id') ID:
    br
    input#id(type='text' name='id')
    br
    label(for='color') Color:
    br
    input#color(type='text' name='color')
    br
    label(for='modelo') Modelo:
    br
    input#modelo(type='text' name='modelo')
    br
    label(for='latitud') Latitud:
    br
    input#latitud(type='text' name='latitud')
    br
    label(for='longitud') Lonigutud:
    br
    input#longitud(type='text' name='longitud')
    br
    br
    input(type='submit' value='Submit')
