extends layout
block content
  header
  ul
    li
      a(href='#home') Nosotros
    li
      a(href='#news') Bicicletas
    li
      a(href='#contact') Contactanos
    li(style='float:right')
      a.active(href='#about') ESCod
  .hero
    h1 Pagina de Bicicletas
    p
      span Hola
      |  Buscas una Bicicletas para rentar? Miralas aqui
    #mapid
  
  script(src='/javascripts/map.js')
